[un-cloak] {
    display: none;
}

.i-logo {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100' width='100' viewBox='0 0 1800 1800'%3E%3Cpath d='M359.784 96.865c-34.336 0-62.27 27.934-62.27 62.27s27.934 62.27 62.27 62.27 62.27-27.934 62.27-62.27-27.934-62.27-62.27-62.27zm0 89.946h-.003c-15.259 0-27.673-12.415-27.673-27.676.006-15.263 12.421-27.676 27.676-27.676 15.26 0 27.676 12.415 27.676 27.676s-12.416 27.676-27.676 27.676z'/%3E%3Cpath d='M207.568 6.919v332.108c0 91.709 74.345 166.054 166.054 166.054H512V6.919H207.568zm152.216 256C302.557 262.919 256 216.362 256 159.135S302.557 55.351 359.784 55.351c57.226 0 103.784 46.557 103.784 103.784S417.01 262.919 359.784 262.919zM96.865 242.162c0 43.877 29.181 80.92 69.189 92.831v-92.831H96.865zM0 200.649h166.054V8.895C72.173 22.326 0 103.053 0 200.649z'/%3E%3C/svg%3E");
}

#loader {
    animation: ripples 2s infinite;
    height: 2rem;
    width: 2rem;
    margin: auto;
}

#loader-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}


@keyframes ripples {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(1.6);
        opacity: 0;
    }
}

/* layer: preflights */
*,
::before,
::after {
    --un-rotate: 0;
    --un-rotate-x: 0;
    --un-rotate-y: 0;
    --un-rotate-z: 0;
    --un-scale-x: 1;
    --un-scale-y: 1;
    --un-scale-z: 1;
    --un-skew-x: 0;
    --un-skew-y: 0;
    --un-translate-x: 0;
    --un-translate-y: 0;
    --un-translate-z: 0;
    --un-pan-x: ;
    --un-pan-y: ;
    --un-pinch-zoom: ;
    --un-scroll-snap-strictness: proximity;
    --un-ordinal: ;
    --un-slashed-zero: ;
    --un-numeric-figure: ;
    --un-numeric-spacing: ;
    --un-numeric-fraction: ;
    --un-border-spacing-x: 0;
    --un-border-spacing-y: 0;
    --un-ring-offset-shadow: 0 0 rgb(0 0 0 / 0);
    --un-ring-shadow: 0 0 rgb(0 0 0 / 0);
    --un-shadow-inset: ;
    --un-shadow: 0 0 rgb(0 0 0 / 0);
    --un-ring-inset: ;
    --un-ring-offset-width: 0px;
    --un-ring-offset-color: #fff;
    --un-ring-width: 0px;
    --un-ring-color: rgb(147 197 253 / 0.5);
    --un-blur: ;
    --un-brightness: ;
    --un-contrast: ;
    --un-drop-shadow: ;
    --un-grayscale: ;
    --un-hue-rotate: ;
    --un-invert: ;
    --un-saturate: ;
    --un-sepia: ;
    --un-backdrop-blur: ;
    --un-backdrop-brightness: ;
    --un-backdrop-contrast: ;
    --un-backdrop-grayscale: ;
    --un-backdrop-hue-rotate: ;
    --un-backdrop-invert: ;
    --un-backdrop-opacity: ;
    --un-backdrop-saturate: ;
    --un-backdrop-sepia: ;
}

::backdrop {
    --un-rotate: 0;
    --un-rotate-x: 0;
    --un-rotate-y: 0;
    --un-rotate-z: 0;
    --un-scale-x: 1;
    --un-scale-y: 1;
    --un-scale-z: 1;
    --un-skew-x: 0;
    --un-skew-y: 0;
    --un-translate-x: 0;
    --un-translate-y: 0;
    --un-translate-z: 0;
    --un-pan-x: ;
    --un-pan-y: ;
    --un-pinch-zoom: ;
    --un-scroll-snap-strictness: proximity;
    --un-ordinal: ;
    --un-slashed-zero: ;
    --un-numeric-figure: ;
    --un-numeric-spacing: ;
    --un-numeric-fraction: ;
    --un-border-spacing-x: 0;
    --un-border-spacing-y: 0;
    --un-ring-offset-shadow: 0 0 rgb(0 0 0 / 0);
    --un-ring-shadow: 0 0 rgb(0 0 0 / 0);
    --un-shadow-inset: ;
    --un-shadow: 0 0 rgb(0 0 0 / 0);
    --un-ring-inset: ;
    --un-ring-offset-width: 0px;
    --un-ring-offset-color: #fff;
    --un-ring-width: 0px;
    --un-ring-color: rgb(147 197 253 / 0.5);
    --un-blur: ;
    --un-brightness: ;
    --un-contrast: ;
    --un-drop-shadow: ;
    --un-grayscale: ;
    --un-hue-rotate: ;
    --un-invert: ;
    --un-saturate: ;
    --un-sepia: ;
    --un-backdrop-blur: ;
    --un-backdrop-brightness: ;
    --un-backdrop-contrast: ;
    --un-backdrop-grayscale: ;
    --un-backdrop-hue-rotate: ;
    --un-backdrop-invert: ;
    --un-backdrop-opacity: ;
    --un-backdrop-saturate: ;
    --un-backdrop-sepia: ;
}

/* layer: icons */
.i-carbon-calendar-heat-map {
    --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 32 32' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M26 4h-4V2h-2v2h-8V2h-2v2H6a2.003 2.003 0 0 0-2 2v20a2.003 2.003 0 0 0 2 2h20a2.003 2.003 0 0 0 2-2V6a2.003 2.003 0 0 0-2-2M6 6h4v2h2V6h8v2h2V6h4v4H6Zm0 6h5v6H6Zm13 14h-6v-6h6Zm0-8h-6v-6h6Zm2 8v-6h5l.001 6Z'/%3E%3C/svg%3E");
    -webkit-mask: var(--un-icon) no-repeat;
    mask: var(--un-icon) no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    background-color: currentColor;
    color: inherit;
    width: 1.2em;
    height: 1.2em;
}

.i-carbon-cloud-satellite-config {
    --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 32 32' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M32 26v-2h-2.101a4.968 4.968 0 0 0-.732-1.753l1.49-1.49l-1.414-1.414l-1.49 1.49A4.968 4.968 0 0 0 26 20.101V18h-2v2.101a4.968 4.968 0 0 0-1.753.732l-1.49-1.49l-1.414 1.414l1.49 1.49A4.968 4.968 0 0 0 20.101 24H18v2h2.101a4.968 4.968 0 0 0 .732 1.753l-1.49 1.49l1.414 1.414l1.49-1.49a4.968 4.968 0 0 0 1.753.732V32h2v-2.101a4.968 4.968 0 0 0 1.753-.732l1.49 1.49l1.414-1.414l-1.49-1.49A4.968 4.968 0 0 0 29.899 26Zm-7 2a3 3 0 1 1 3-3a3.003 3.003 0 0 1-3 3'/%3E%3Ccircle cx='7' cy='20' r='2' fill='currentColor'/%3E%3Cpath fill='currentColor' d='M14 20a4 4 0 1 1 4-4a4.012 4.012 0 0 1-4 4m0-6a2 2 0 1 0 2 2a2.006 2.006 0 0 0-2-2'/%3E%3Ccircle cx='21' cy='12' r='2' fill='currentColor'/%3E%3Cpath fill='currentColor' d='M13.02 28.272L3 22.426V9.574l11-6.416l11.496 6.706l1.008-1.728l-12-7a1 1 0 0 0-1.008 0l-12 7A1 1 0 0 0 1 9v14a1 1 0 0 0 .496.864L12.013 30Z'/%3E%3C/svg%3E");
    -webkit-mask: var(--un-icon) no-repeat;
    mask: var(--un-icon) no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    background-color: currentColor;
    color: inherit;
    width: 1.2em;
    height: 1.2em;
}

.i-carbon-directory-domain {
    --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 32 32' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M28 26h-9.184A2.996 2.996 0 0 0 17 24.184V19h7a2.003 2.003 0 0 0 2-2V4a2.003 2.003 0 0 0-2-2H8a2.003 2.003 0 0 0-2 2v13a2.003 2.003 0 0 0 2 2h7v5.184A2.996 2.996 0 0 0 13.184 26H4v2h9.184a2.982 2.982 0 0 0 5.632 0H28Zm-4-14H8V9h16Zm0-8v3H8V4ZM8 14h16v3H8Zm8 14a1 1 0 1 1 1-1a1 1 0 0 1-1 1'/%3E%3C/svg%3E");
    -webkit-mask: var(--un-icon) no-repeat;
    mask: var(--un-icon) no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    background-color: currentColor;
    color: inherit;
    width: 1.2em;
    height: 1.2em;
}

.i-carbon-home {
    --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 32 32' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M16.612 2.214a1.01 1.01 0 0 0-1.242 0L1 13.419l1.243 1.572L4 13.621V26a2.004 2.004 0 0 0 2 2h20a2.004 2.004 0 0 0 2-2V13.63L29.757 15L31 13.428ZM18 26h-4v-8h4Zm2 0v-8a2.002 2.002 0 0 0-2-2h-4a2.002 2.002 0 0 0-2 2v8H6V12.062l10-7.79l10 7.8V26Z'/%3E%3C/svg%3E");
    -webkit-mask: var(--un-icon) no-repeat;
    mask: var(--un-icon) no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    background-color: currentColor;
    color: inherit;
    width: 1.2em;
    height: 1.2em;
}

.i-carbon-intent-request-create {
    --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 32 32' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M30 24h-4v-4h-2v4h-4v2h4v4h2v-4h4z'/%3E%3Cpath fill='currentColor' d='M15.4 30L5 23.8c-.6-.4-1-1-1-1.7V9.9c0-.7.4-1.4 1-1.7l10-5.9c.3-.2.6-.3 1-.3s.7.1 1 .3l10 5.9c.6.4 1 1 1 1.7V16h-2V9.9L16 4L6 9.9v12.2l10.5 6.2z'/%3E%3C/svg%3E");
    -webkit-mask: var(--un-icon) no-repeat;
    mask: var(--un-icon) no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    background-color: currentColor;
    color: inherit;
    width: 1.2em;
    height: 1.2em;
}

.i-carbon-notebook {
    --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 32 32' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M19 10h7v2h-7zm0 5h7v2h-7zm0 5h7v2h-7z'/%3E%3Cpath fill='currentColor' d='M28 5H4a2.002 2.002 0 0 0-2 2v18a2.002 2.002 0 0 0 2 2h24a2.003 2.003 0 0 0 2-2V7a2.002 2.002 0 0 0-2-2M4 7h11v18H4Zm13 18V7h11l.002 18Z'/%3E%3C/svg%3E");
    -webkit-mask: var(--un-icon) no-repeat;
    mask: var(--un-icon) no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    background-color: currentColor;
    color: inherit;
    width: 1.2em;
    height: 1.2em;
}

.i-carbon-plug-filled {
    --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 32 32' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M22 8h-1V2h-2v6h-6V2h-2v6h-1a2 2 0 0 0-2 2v6a8.007 8.007 0 0 0 7 7.93V30h2v-6.07A8.007 8.007 0 0 0 24 16v-6a2 2 0 0 0-2-2'/%3E%3C/svg%3E");
    -webkit-mask: var(--un-icon) no-repeat;
    mask: var(--un-icon) no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    background-color: currentColor;
    color: inherit;
    width: 1.2em;
    height: 1.2em;
}

.i-carbon-task {
    --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 32 32' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='m14 20.18l-3.59-3.59L9 18l5 5l9-9l-1.41-1.42z'/%3E%3Cpath fill='currentColor' d='M25 5h-3V4a2 2 0 0 0-2-2h-8a2 2 0 0 0-2 2v1H7a2 2 0 0 0-2 2v21a2 2 0 0 0 2 2h18a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2M12 4h8v4h-8Zm13 24H7V7h3v3h12V7h3Z'/%3E%3C/svg%3E");
    -webkit-mask: var(--un-icon) no-repeat;
    mask: var(--un-icon) no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    background-color: currentColor;
    color: inherit;
    width: 1.2em;
    height: 1.2em;
}

/* layer: typography */
.prose :where(h1, h2, h3, h4, h5, h6):not(:where(.not-prose, .not-prose *)) {
    color: var(--un-prose-headings);
    font-weight: 600;
    line-height: 1.25;
}

.prose :where(a):not(:where(.not-prose, .not-prose *)) {
    color: var(--un-prose-links);
    text-decoration: underline;
    font-weight: 500;
}

.prose :where(a code):not(:where(.not-prose, .not-prose *)) {
    color: var(--un-prose-links);
}

.prose :where(p, ul, ol, pre):not(:where(.not-prose, .not-prose *)) {
    margin: 1em 0;
    line-height: 1.75;
}

.prose :where(blockquote):not(:where(.not-prose, .not-prose *)) {
    margin: 1em 0;
    padding-left: 1em;
    font-style: italic;
    border-left: .25em solid var(--un-prose-borders);
}

.prose :where(h1):not(:where(.not-prose, .not-prose *)) {
    margin: 1rem 0;
    font-size: 2.25em;
}

.prose :where(h2):not(:where(.not-prose, .not-prose *)) {
    margin: 1.75em 0 .5em;
    font-size: 1.75em;
}

.prose :where(h3):not(:where(.not-prose, .not-prose *)) {
    margin: 1.5em 0 .5em;
    font-size: 1.375em;
}

.prose :where(h4):not(:where(.not-prose, .not-prose *)) {
    margin: 1em 0;
    font-size: 1.125em;
}

.prose :where(img, video):not(:where(.not-prose, .not-prose *)) {
    max-width: 100%;
}

.prose :where(figure, picture):not(:where(.not-prose, .not-prose *)) {
    margin: 1em 0;
}

.prose :where(figcaption):not(:where(.not-prose, .not-prose *)) {
    color: var(--un-prose-captions);
    font-size: .875em;
}

.prose :where(code):not(:where(.not-prose, .not-prose *)) {
    color: var(--un-prose-code);
    font-size: .875em;
    font-weight: 600;
    font-family: "Fira Code", "Fira Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.prose :where(:not(pre) > code):not(:where(.not-prose, .not-prose *))::before,
.prose :where(:not(pre) > code):not(:where(.not-prose, .not-prose *))::after {
    content: "`";
}

.prose :where(pre):not(:where(.not-prose, .not-prose *)) {
    padding: 1.25rem 1.5rem;
    overflow-x: auto;
    border-radius: .375rem;
}

.prose :where(pre, code):not(:where(.not-prose, .not-prose *)) {
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    hyphens: none;
    background: transparent;
}

.prose :where(pre code):not(:where(.not-prose, .not-prose *)) {
    font-weight: inherit;
}

.prose :where(ol, ul):not(:where(.not-prose, .not-prose *)) {
    padding-left: 1.25em;
}

.prose :where(ol):not(:where(.not-prose, .not-prose *)) {
    list-style-type: decimal;
}

.prose :where(ol[type="A"]):not(:where(.not-prose, .not-prose *)) {
    list-style-type: upper-alpha;
}

.prose :where(ol[type="a"]):not(:where(.not-prose, .not-prose *)) {
    list-style-type: lower-alpha;
}

.prose :where(ol[type="A" s]):not(:where(.not-prose, .not-prose *)) {
    list-style-type: upper-alpha;
}

.prose :where(ol[type="a" s]):not(:where(.not-prose, .not-prose *)) {
    list-style-type: lower-alpha;
}

.prose :where(ol[type="I"]):not(:where(.not-prose, .not-prose *)) {
    list-style-type: upper-roman;
}

.prose :where(ol[type="i"]):not(:where(.not-prose, .not-prose *)) {
    list-style-type: lower-roman;
}

.prose :where(ol[type="I" s]):not(:where(.not-prose, .not-prose *)) {
    list-style-type: upper-roman;
}

.prose :where(ol[type="i" s]):not(:where(.not-prose, .not-prose *)) {
    list-style-type: lower-roman;
}

.prose :where(ol[type="1"]):not(:where(.not-prose, .not-prose *)) {
    list-style-type: decimal;
}

.prose :where(ul):not(:where(.not-prose, .not-prose *)) {
    list-style-type: disc;
}

.prose :where(ol > li):not(:where(.not-prose, .not-prose *))::marker,
.prose :where(ul > li):not(:where(.not-prose, .not-prose *))::marker,
.prose :where(summary):not(:where(.not-prose, .not-prose *))::marker {
    color: var(--un-prose-lists);
}

.prose :where(hr):not(:where(.not-prose, .not-prose *)) {
    margin: 2em 0;
    border: 1px solid var(--un-prose-hr);
}

.prose :where(table):not(:where(.not-prose, .not-prose *)) {
    display: block;
    margin: 1em 0;
    border-collapse: collapse;
    overflow-x: auto;
}

.prose :where(tr):not(:where(.not-prose, .not-prose *)):nth-child(2n) {
    background: var(--un-prose-bg-soft);
}

.prose :where(td, th):not(:where(.not-prose, .not-prose *)) {
    border: 1px solid var(--un-prose-borders);
    padding: .625em 1em;
}

.prose :where(abbr):not(:where(.not-prose, .not-prose *)) {
    cursor: help;
}

.prose :where(kbd):not(:where(.not-prose, .not-prose *)) {
    color: var(--un-prose-code);
    border: 1px solid;
    padding: .25rem .5rem;
    font-size: .875em;
    border-radius: .25rem;
}

.prose :where(details):not(:where(.not-prose, .not-prose *)) {
    margin: 1em 0;
    padding: 1.25rem 1.5rem;
    background: var(--un-prose-bg-soft);
}

.prose :where(summary):not(:where(.not-prose, .not-prose *)) {
    cursor: pointer;
    font-weight: 600;
}

.prose {
    color: var(--un-prose-body);
    max-width: 65ch;
}

.prose-truegray {
    --un-prose-body: #404040;
    --un-prose-headings: #171717;
    --un-prose-links: #171717;
    --un-prose-lists: #a3a3a3;
    --un-prose-hr: #e5e5e5;
    --un-prose-captions: #737373;
    --un-prose-code: #171717;
    --un-prose-borders: #e5e5e5;
    --un-prose-bg-soft: #f5f5f5;
    --un-prose-invert-body: #e5e5e5;
    --un-prose-invert-headings: #f5f5f5;
    --un-prose-invert-links: #f5f5f5;
    --un-prose-invert-lists: #737373;
    --un-prose-invert-hr: #404040;
    --un-prose-invert-captions: #a3a3a3;
    --un-prose-invert-code: #f5f5f5;
    --un-prose-invert-borders: #404040;
    --un-prose-invert-bg-soft: #262626;
}

/* layer: default */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.fixed {
    position: fixed;
}

.left-0 {
    left: 0;
}

.top-0 {
    top: 0;
}

.z-40 {
    z-index: 40;
}

.z-50 {
    z-index: 50;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.my-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.my-4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.ms-3 {
    margin-inline-start: 0.75rem;
}

.mt-20 {
    margin-top: 5rem;
}

.block {
    display: block;
}

.hidden {
    display: none;
}

.h-6 {
    height: 1.5rem;
}

.h-8 {
    height: 2rem;
}

.h-full {
    height: 100%;
}

.h-screen {
    height: 100vh;
}

.w-6 {
    width: 1.5rem;
}

.w-64 {
    width: 16rem;
}

.w-8 {
    width: 2rem;
}

.w-full {
    width: 100%;
}

.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.list-none {
    list-style-type: none;
}

.items-center {
    align-items: center;
}

.justify-start {
    justify-content: flex-start;
}

[dir="rtl"] .rtl\:justify-end {
    justify-content: flex-end;
}

.justify-between {
    justify-content: space-between;
}

.divide-y>:not([hidden])~:not([hidden]) {
    --un-divide-y-reverse: 0;
    border-top-width: calc(1px * calc(1 - var(--un-divide-y-reverse)));
    border-bottom-width: calc(1px * var(--un-divide-y-reverse));
}

.dark .dark\:divide-gray-600>:not([hidden])~:not([hidden]) {
    --un-divide-opacity: 1;
    border-color: rgb(75 85 99 / var(--un-divide-opacity));
}

.divide-gray-100>:not([hidden])~:not([hidden]) {
    --un-divide-opacity: 1;
    border-color: rgb(243 244 246 / var(--un-divide-opacity));
}

.overflow-y-auto {
    overflow-y: auto;
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.border-b {
    border-bottom-width: 1px;
}

.border-t {
    border-top-width: 1px;
}

.border-gray-200 {
    --un-border-opacity: 1;
    border-color: rgb(229 231 235 / var(--un-border-opacity));
}

.dark .dark\:border-gray-700 {
    --un-border-opacity: 1;
    border-color: rgb(55 65 81 / var(--un-border-opacity));
}

.rounded {
    border-radius: 0.25rem;
}

.rounded-full {
    border-radius: 9999px;
}

.rounded-lg {
    border-radius: 0.5rem;
}

.bg-gray-50 {
    --un-bg-opacity: 1;
    background-color: rgb(249 250 251 / var(--un-bg-opacity));
}

.bg-gray-800,
.dark .dark\:bg-gray-800 {
    --un-bg-opacity: 1;
    background-color: rgb(31 41 55 / var(--un-bg-opacity));
}

.bg-white {
    --un-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--un-bg-opacity));
}

.dark .dark\:bg-gray-700 {
    --un-bg-opacity: 1;
    background-color: rgb(55 65 81 / var(--un-bg-opacity));
}

.dark .dark\:hover\:bg-blue-700:hover {
    --un-bg-opacity: 1;
    background-color: rgb(29 78 216 / var(--un-bg-opacity));
}

.dark .dark\:hover\:bg-gray-600:hover {
    --un-bg-opacity: 1;
    background-color: rgb(75 85 99 / var(--un-bg-opacity));
}

.dark .dark\:hover\:bg-gray-700:hover {
    --un-bg-opacity: 1;
    background-color: rgb(55 65 81 / var(--un-bg-opacity));
}

.hover\:bg-blue-100:hover {
    --un-bg-opacity: 1;
    background-color: rgb(219 234 254 / var(--un-bg-opacity));
}

.hover\:bg-gray-100:hover {
    --un-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--un-bg-opacity));
}

.p-2 {
    padding: 0.5rem;
}

.px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.pt-1 {
    padding-top: 0.25rem;
}

.pt-14 {
    padding-top: 3.5rem;
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}

.text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}

.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.dark .dark\:text-gray-300 {
    --un-text-opacity: 1;
    color: rgb(209 213 219 / var(--un-text-opacity));
}

.dark .dark\:text-gray-400 {
    --un-text-opacity: 1;
    color: rgb(156 163 175 / var(--un-text-opacity));
}

.dark .dark\:text-white {
    --un-text-opacity: 1;
    color: rgb(255 255 255 / var(--un-text-opacity));
}

.text-gray-500 {
    --un-text-opacity: 1;
    color: rgb(107 114 128 / var(--un-text-opacity));
}

.text-gray-700 {
    --un-text-opacity: 1;
    color: rgb(55 65 81 / var(--un-text-opacity));
}

.text-gray-900 {
    --un-text-opacity: 1;
    color: rgb(17 24 39 / var(--un-text-opacity));
}

.dark .dark\:hover\:text-white:hover {
    --un-text-opacity: 1;
    color: rgb(255 255 255 / var(--un-text-opacity));
}

.font-extrabold {
    font-weight: 800;
}

.font-medium {
    font-weight: 500;
}

.font-thin {
    font-weight: 100;
}

.font-sans {
    font-family: "Roboto", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.shadow {
    --un-shadow: var(--un-shadow-inset) 0 1px 3px 0 var(--un-shadow-color, rgb(0 0 0 / 0.1)), var(--un-shadow-inset) 0 1px 2px -1px var(--un-shadow-color, rgb(0 0 0 / 0.1));
    box-shadow: var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);
}

.focus\:outline-none:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.focus\:ring-2:focus {
    --un-ring-width: 2px;
    --un-ring-offset-shadow: var(--un-ring-inset) 0 0 0 var(--un-ring-offset-width) var(--un-ring-offset-color);
    --un-ring-shadow: var(--un-ring-inset) 0 0 0 calc(var(--un-ring-width) + var(--un-ring-offset-width)) var(--un-ring-color);
    box-shadow: var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);
}

.focus\:ring-4:focus {
    --un-ring-width: 4px;
    --un-ring-offset-shadow: var(--un-ring-inset) 0 0 0 var(--un-ring-offset-width) var(--un-ring-offset-color);
    --un-ring-shadow: var(--un-ring-inset) 0 0 0 calc(var(--un-ring-width) + var(--un-ring-offset-width)) var(--un-ring-color);
    box-shadow: var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);
}

.dark .dark\:focus\:ring-gray-600:focus {
    --un-ring-opacity: 1;
    --un-ring-color: rgb(75 85 99 / var(--un-ring-opacity));
}

.focus\:ring-gray-200:focus {
    --un-ring-opacity: 1;
    --un-ring-color: rgb(229 231 235 / var(--un-ring-opacity));
}

.focus\:ring-gray-300:focus {
    --un-ring-opacity: 1;
    --un-ring-color: rgb(209 213 219 / var(--un-ring-opacity));
}

@media (min-width: 640px) {
    .sm\:hidden {
        display: none;
    }
}

@media (min-width: 1024px) {
    .lg\:px-5 {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }

    .lg\:pl-3 {
        padding-left: 0.75rem;
    }
}